---

const companyInfo = [
	{
		name: 'KvK',
		value: '95866086',
	},
	{
		name: 'BTW',
		value: 'NL005176521B96',
	}
];

---

<footer class="border-t border-border pt-8">
	<div class="flex justify-center space-x-8 text-sm text-slate-600">
		{companyInfo.map((info) => (
			<p class="px-4 py-2 rounded-md bg-card">{ info.name }: { info.value }</p>
		))}
	</div>
</footer>
